/* COLORS LEGEND */
#legend-container {
  position: absolute;
  top: 50px;
  right: 10px;
  width: 200px;
  max-height: 250px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd;
  overflow-y: auto;
  padding: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 10; /* Ensure it sits above other content */
  font-family: 'Arial', sans-serif; /* Example: Change to the desired font */
  font-size: 11px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 1px; /* Adjust the bottom margin to increase space between items if needed */
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  padding: 2px; /* Increase padding inside the box to make it larger and space out the text and circle */
  border-radius: 5px; /* Optional: Adds rounded corners for a softer look */
}

.legend-item:hover {
  background-color: #f0f0f0; /* Light background on hover to indicate interactivity */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Subtle shadow to raise the item visually */
}

.color-box {
  flex-shrink: 0; /* Prevents the box from shrinking */
  flex-grow: 0; /* Prevents the box from growing */
  width: 16px; /* Adjusted for border, ensuring a fixed size */
  height: 16px; /* Adjusted for border, ensuring a fixed size */
  margin-right: 10px;
  border: 2px solid rgb(213, 213, 213);
  border-radius: 50%;
}

.legend-item span {
  flex-grow: 1; /* Allows the text to fill the remaining space */
  text-align: left; /* Ensures text alignment */
  overflow: hidden; /* Prevents text from overflowing */
  text-overflow: ellipsis; /* Adds an ellipsis for overflowed text */
  white-space: nowrap; /* Keeps text in a single line */
}

#legend-search-container {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Align with the legend container */
  padding: 5px;
  z-index: 11; /* Ensure it's above other content */
}

#legend-search {
  height: 10px;
  width: 190px; /* Slightly less than legend container to account for padding */
  padding: 5px;
}